{%- comment -%}
  MEGA MENU COMPONENT
  Layout: left = rows of (parent + sub-links inline), right = 2 promo images
{%- endcomment -%}

<div class="mega-menu mega-menu--custom {% if block.settings.images_position == 'left' %}mega-menu--reverse{% endif %}" {{ block.shopify_attributes }}>
  {%- if link.levels > 0 -%}
    <ul class="mega-menu__linklist mega-menu__linklist--rows unstyled-list">
      {%- for sub_link in link.links -%}
        <li class="mega-menu__row">
          <a href="{{ sub_link.url }}" class="mega-menu__row-parent h6">{{ sub_link.title }}</a>

          {%- if sub_link.links.size > 0 -%}
            <ul class="mega-menu__row-children unstyled-list">
              {%- for sub_sub_link in sub_link.links -%}
                <li>
                  <a href="{{ sub_sub_link.url }}" class="link-faded">{{ sub_sub_link.title }}</a>
                </li>
              {%- endfor -%}
            </ul>
          {%- endif -%}
        </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}

  {%- capture mega_menu_content -%}
    {%- render 'mega-menu-images', context: 'menu', block: block -%}
  {%- endcapture -%}

  {%- if mega_menu_content != blank -%}
    <div class="mega-menu__promo">
      {{- mega_menu_content -}}
    </div>
  {%- endif -%}
</div>
